@page
@model IndexModel
@{
}
<div class="container p-3 ">
    <div class="row pt-3  "  style="max-width: 1200px ">
        <partial name="Shared/_SucceddToastHC" />
        <div class="col-6">
            <h2 class="text-primary">@PageWords.MenuItem @PageWords.List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" id="Upsert" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; @PageWords.Create</a>
        </div>
        <table id="MenuTable" class=" table table-hover  display responsive table-striped table-bordered dt-responsive nowrap" style="width: 100%">
                <thead>
                <tr>
                    <th>@PageWords.Name</th>
                    <th>@PageWords.Price</th>
                    <th>@PageWords.Category</th>
                    <th>@PageWords.FoodType</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>
</div>

@section Scripts
{
    <partial name="Shared/_SucceddToastScript"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src=" https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function() {
            dataTable = $('#MenuTable').DataTable({
                responsive: true,
                scrollX:        200,
                scrollY: '7 0vh',
                scrollCollapse: true,
                deferRender:    true,
                scroller:       true,
                "ajax": {
                    "url": "/api/MenuItem/FetchMenuItemDto",
                    "type": "Get",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "name",
                    },
                    {
                        "data": "price",
                       
                    },
                    {
                        "data": "category.name",
                    },
                    {
                        "data": "foodType.name",
                       
                    },
                    {
                        "data": "id",
                        "render": function(data) {
                            return `<div class="w-50 btn-group" role="group">
                                              <a href="/Admin/MenuItems/Upsert?id=${data}" class="btn btn-warning mx-2"><i class="bi bi-pencil-square"></i></a>
                                              <a onClick=Delete('/api/MenuItem/DeleteMenuItem/'+${data}) class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i></a>
                                    </div>`;
                        }
                    }
                ]
            });
        });

        function Delete(Url) {
            swal({
                    title: "Are you sure?",
                    text: "Once Delete , Gone Forever!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            "url":Url,
                            "type":'DELETE',
                            "success": function(data) {
                                if (data.success) {
                                    dataTable.ajax.reload();
                                    swal("Success","Selected MenuFile has been deleted!", "success");
                                } else {
                                    swal("Error","Something went Wrong MenuFile has not been deleted!", "error");
                                }
                            }
                            })
                      ;
                    } else {
                        swal("Your MenuFile is safe!");
                    }
                });
        }
    </script>

}


