@using Microsoft.AspNetCore.Mvc.TagHelpers
@using F_e_commerce_Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F_e_commerce_UI</title>
    @* <link rel="stylesheet" href="~/css/BooswatchLux.css" />*@
    <link rel="stylesheet" href="~/css/BooswatchLitera.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/F-e-commerce-UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark text-white Abgn-Dark">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index">F_e_commerce_UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="@PageAddress.Home">@PageWords.Home</a>
                        </li>
                   @if (User.IsInRole(Roles.MangerRole) || User.IsInRole(Roles.FrontDeskRole)|| User.IsInRole(Roles.KitchenRole))
                   {
                       <li class="nav-item">
                           <a class="nav-link text-light" asp-area="" asp-page="/Admin/Order/OrderList">OrderList</a>
                       </li>
                   }

                   @{
                            if (User.IsInRole(Roles.MangerRole))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-page="/Admin/Order/ManageOrder">ManageOrder</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-page="@PageAddress.AdminCategoryMain">@PageWords.CategoryManagement</a>
                                        <a class="dropdown-item" asp-page="@PageAddress.AdminFoodMain">@PageWords.FoodManagement</a>
                                        <a class="dropdown-item" asp-page="@PageAddress.MenuItemManagement">@PageWords.MenuItemManagement</a>
                                    </div>
                                </li>
                            }
                        }
                        @{
                        var cartCount = Context.Session.GetInt32(StatusMessages.StatusSessionCart).ToString();
                        if((!string.IsNullOrWhiteSpace(cartCount)))
                        {
                            <li class="nav-link position-relative">
                                <a class="link-light" asp-page="/Customer/Cart/Index"> <i class="bi bi-cart4"></i><span class="bg-white rounded-1 position-absolute top-50 text-danger px-1">@(cartCount)</span></a>
                            </li> 
                        }
                        else
                        {
                            <li class="nav-link position-relative">
                                <a class="link-light" asp-page="/Customer/Cart/Index"> <i class="bi bi-cart4"></i><span class="bg-white rounded-1 position-absolute top-50 text-danger px-1">0</span></a>
                            </li> 
                        }
                            
                        }
                     
                    </ul>
                 <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - F_e_commerce_UI - <a asp-area="" asp-page="@PageAddress.MainPrivacy">@PageWords.Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<partial name="_SucceddToastScript"/>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>